In [ ]:
import json
import pandas as pd

# Load the JSON file
with open('data/telegram_full/result.json', encoding='utf-8') as f:
    data = json.load(f)

# Extract just the 'messages' list
messages = data["messages"]

# Load into a DataFrame
df = pd.DataFrame(messages)

df = df[df["action"].isna()]

df.head(3)

,id,type,date,date_unixtime,actor,actor_id,action,title,text,text_entities,...,location_information,forwarded_from,media_type,sticker_emoji,duration_seconds,poll,via_bot,place_name,address,message_id
1,2,message,2022-09-20T17:37:39,1663688259,NaN,NaN,NaN,NaN,"–¥–∞, –º–Ω–µ –µ–≥–æ –ø—Ä–∏—Å–ª–∞–ª–∏ –Ω–∞ –Ω–µ–º–µ—Ü–∫–∏–π –∞–¥—Ä–µ—Å","[{'type': 'plain', 'text': '–¥–∞, –º–Ω–µ –µ–≥–æ –ø—Ä–∏—Å–ª–∞...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,message,2022-09-20T17:37:46,1663688266,NaN,NaN,NaN,NaN,—Ö–æ–∑—è–∏–Ω –∫–≤–∞—Ä—Ç–∏—Ä—ã —Å–æ–æ–±—â–∏–ª –º–Ω–µ –æ–± —ç—Ç–æ–º,"[{'type': 'plain', 'text': '—Ö–æ–∑—è–∏–Ω –∫–≤–∞—Ä—Ç–∏—Ä—ã —Å–æ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,message,2022-09-20T17:37:51,1663688271,NaN,NaN,NaN,NaN,"–û–≥–æ, –Ω–∏—á–µ–≥–æ —Å–µ–±–µ!","[{'type': 'plain', 'text': '–û–≥–æ, –Ω–∏—á–µ–≥–æ —Å–µ–±–µ!'}]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# split the dataset into test train

from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2)

print(train_df)

        id     type                 date date_unixtime actor actor_id action  \
3479  3541  message  2024-08-27T14:36:03    1724762163   NaN      NaN    NaN
3123  3183  message  2024-07-26T18:04:04    1722009844   NaN      NaN    NaN
5729  5982  message  2025-07-05T22:27:27    1751747247   NaN      NaN    NaN
2928  2969  message  2024-06-18T18:15:37    1718727337   NaN      NaN    NaN
3426  3487  message  2024-08-26T23:38:44    1724708324   NaN      NaN    NaN
...    ...      ...                  ...           ...   ...      ...    ...
286    289  message  2022-10-03T19:28:48    1664818128   NaN      NaN    NaN
1803  1816  message  2023-08-14T00:13:56    1691964836   NaN      NaN    NaN
2627  2660  message  2024-05-31T02:02:31    1717113751   NaN      NaN    NaN
643    650  message  2022-10-23T09:12:51    1666509171   NaN      NaN    NaN
152    155  message  2022-09-29T13:08:12    1664449692   NaN      NaN    NaN

     title                                               text  \
3479   NaN                      –ù–æ –ø–æ—Å–ª–µ –Ω–∞—á–∞–ª –æ—Ç–≤–µ—á–∞—Ç—å —Å—Ä–∞–∑—É
3123   NaN                                         –î—É–∂–µ –¥—è–∫—É—é
5729   NaN  —è –ø—Ä–µ–¥–ª–∞–≥–∞—é –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –ø—Ä–∞–≤–∞ –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä–∞ ...
2928   NaN
3426   NaN                                         –ù–∞ –±–∞–∑–∞—Ä–µüòé
...    ...                                                ...
286    NaN                                    –°–ø–∞—Å–∏–±–æ –±–æ–ª—å—à–æ–µ
1803   NaN                                           –ø—Ä–æ–∑–≤–∏—â–µ
2627   NaN                           –ü–æ–ª—É—á–∏–ª –±–æ–ª–≥–∞—Ä—Å–∫–∏–µ –¥–æ–∫–∏)
643    NaN    –ù–µ—Ç, —Å–µ–≥–æ–¥–Ω—è –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –í —Å—Ä–µ–¥—É –∏–ª–∏ –≤ —Å—É–±–±–æ—Ç—É
152    NaN           —Å–µ–≥–æ–¥–Ω—è –±—ã–ª–∞, –∞ —É –º–µ–Ω—è –≤ —ç—Ç–æ –≤—Ä–µ–º—è —É—á–µ–±–∞

                                          text_entities  ...  \
3479  [{'type': 'plain', 'text': '–ù–æ –ø–æ—Å–ª–µ –Ω–∞—á–∞–ª –æ—Ç–≤...  ...
3123          [{'type': 'plain', 'text': '–î—É–∂–µ –¥—è–∫—É—é'}]  ...
5729  [{'type': 'plain', 'text': '—è –ø—Ä–µ–¥–ª–∞–≥–∞—é –ø—Ä–µ–¥–æ—Å...  ...
2928                                                 []  ...
3426          [{'type': 'plain', 'text': '–ù–∞ –±–∞–∑–∞—Ä–µüòé'}]  ...
...                                                 ...  ...
286      [{'type': 'plain', 'text': '–°–ø–∞—Å–∏–±–æ –±–æ–ª—å—à–æ–µ'}]  ...
1803            [{'type': 'plain', 'text': '–ø—Ä–æ–∑–≤–∏—â–µ'}]  ...
2627  [{'type': 'plain', 'text': '–ü–æ–ª—É—á–∏–ª –±–æ–ª–≥–∞—Ä—Å–∫–∏–µ...  ...
643   [{'type': 'plain', 'text': '–ù–µ—Ç, —Å–µ–≥–æ–¥–Ω—è –Ω–µ —Ä–∞...  ...
152   [{'type': 'plain', 'text': '—Å–µ–≥–æ–¥–Ω—è –±—ã–ª–∞, –∞ —É ...  ...

     location_information forwarded_from  media_type sticker_emoji  \
3479                  NaN            NaN         NaN           NaN
3123                  NaN            NaN         NaN           NaN
5729                  NaN            NaN         NaN           NaN
2928                  NaN            NaN         NaN           NaN
3426                  NaN            NaN         NaN           NaN
...                   ...            ...         ...           ...
286                   NaN            NaN         NaN           NaN
1803                  NaN            NaN         NaN           NaN
2627                  NaN            NaN         NaN           NaN
643                   NaN            NaN         NaN           NaN
152                   NaN            NaN         NaN           NaN

      duration_seconds  poll  via_bot place_name address message_id
3479               NaN   NaN      NaN        NaN     NaN        NaN
3123               NaN   NaN      NaN        NaN     NaN        NaN
5729               NaN   NaN      NaN        NaN     NaN        NaN
2928               NaN   NaN      NaN        NaN     NaN        NaN
3426               NaN   NaN      NaN        NaN     NaN        NaN
...                ...   ...      ...        ...     ...        ...
286                NaN   NaN      NaN        NaN     NaN        NaN
1803               NaN   NaN      NaN        NaN     NaN        NaN
2627               NaN   NaN      NaN        NaN     NaN        NaN
643                NaN   NaN      NaN        NaN     NaN        NaN
152                NaN   NaN      NaN        NaN     NaN        NaN

[4496 rows x 38 columns]

In [ ]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("distilbert/distilroberta-base")